---
layout: default
title: Chapter Archive
category: blog1
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
		{% if post.categories contains 'blog1' %}
		    <li>
			<li style="font-size:25px";>
				<span>{{ post.date | date_to_string }}</span>
				    » <a href="/wingsofthechorus{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			</li>
		    </li>
  		{% endif %}
	  {% endfor %}
	</ul>
<body background="/wingsofthechorus/images/bg/crow1.png" bgproperties="fixed">
</body>
