<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/wingsofthechorus/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://jeungkyle.github.io/wingsofthechorus">Home</a></li>
		        	<li><a href="https://jeungkyle.github.io/wingsofthechorus/about">About</a></li>
	        		<li><a href="https://jeungkyle.github.io/wingsofthechorus/cv">CV</a></li>
	        		<li><a href="https://jeungkyle.github.io/wingsofthechorus/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
