<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/wingsofthechorus/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/wingsofthechorus">Home</a></li>
		        	<li><a href="/wingsofthechorus/about">About</a></li>
	        		<li><a href="/wingsofthechorus/chapterarchive/">Chapters</a></li>
				<li><a href="/wingsofthechorus/conceptartarchive/">Artchive</a></li>
	        		<li><a href="/wingsofthechorus/links">Links</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br>
			<footer>
	    		<ul>
	        		<li>©2019 Kyle Jeung</li>
				</ul>
			</footer>
		</body>
	</html>
